body, html {
    /* font-family: sans-serif; */
    font-family: 'Prompt', sans-serif;
    height: 100%;
    margin: 0;
    line-height: 2vw;
    width: 100%;
}


#content {
    margin: 0 auto;
    width: 80%;
}

footer {
    font-weight: 800;
    width: 100%;
}

i:hover {
    cursor: pointer;
}

h2 {
    color: #fff;
}

#left-side {
    align-items: center;
    background-color: #dbc49c;
    display: flex;
    text-align: center;
    width: 20%;
}

#links {
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    width: 70%;
}

#links svg {
    font-size: 3vw;
}

li {
    margin: 5% 0;
}


main {
    display: flex;
    height: 100%;
}


#pond {
    background-color: #65bbc7;
    width: 80%;
}

ul {
    padding: 0;
}

#volume-off, #volume-on {
    font-size: 3vw;
}